body {
    background-image: url("../images/backgroundone.jpg");
    background-size: 100%;
}

#logo {
    width: 200px;
    height: auto;
    display: block;
    /* float: right; */
    /* background-color: black; */
    margin: 0 auto; 
}
.logo-container {
    height: 100px;
    width: 100%;
    /* background-color: black; */
    margin: 0 auto;
}

.container {
    height: 300px;
    width: 100%;
    display: block;
    /* background-color: grey; */
    margin-top: 10px;
}

.rules-style {
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-img-container {
    background-color: lightgrey;
    padding: 10px;
    display: inline-block;
    border:  3px solid green;
}
.power-level {
    margin-top: 165px;
}
.main-images {
    width: auto;
    height: 150px;
    display: inline-block;
    margin-top: 10px;
    float: left;
    /* margin-left:px; */
}

.attack-button {
    margin: 20px 0 20px 30px;
}
h1 {
    font-size: 25px;
    /* font-weight: bold; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading-margin {
    margin-top: 20px;
    margin-left: 30px;
}